<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
    <title>O.L.E.G</title>
    <meta charset="UTF-8" />

    <!-- Load mobile.css for mobile devices -->
    <link rel="stylesheet" media="only screen and (max-width: 600px)" href="{{ url_for('static', filename='mobile.css') }}">
    <!-- Load desktop.css for larger screens -->
    <link rel="stylesheet" media="only screen and (min-width: 601px)" href="{{ url_for('static', filename='desktop.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>

<body>
    <div class="button-container"> <!-- Wrapper for buttons -->
        <button class="btn" id="add_button" type="button" onclick="window.location.href='/new_course'">
          <img src="{{ url_for('static', filename='add_image.png') }}" alt="Add Course" class="btn-icon">
        </button>
    </div>
</body>
</html>
